body {
    background-color: lightblue;
     background-image: url(../img/BG2NS.png);
}

h1 {
    color: purple;
    text-align: center;
}


h2 {

    color:pink;
    text-align: center;

}

p {
    font-family: verdana;
    font-size: 20px;
}

.well{
background-color: rgba(0, 0, 0, 0.2);
}


.jumbotron {
    margin-bottom: 0px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    font-family: 'Barrio';font-size: 22px;

}
.jumbotron h1{
    color: purple;
    font-size: 120px;
}
